@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// Variables
$fontColor: #333;
$roboto: 'Roboto', sans-serif;

// General settings

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $fontColor;
    font-family: $roboto;
}

a {
    text-decoration: none;
    color: $fontColor;
}



// Navbar
nav {
    padding: 2em 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}